body {
	margin: 0;
	-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
overflow-x: hidden;
font-family: "Courier New", Courier, monospace;
}

h1 {
	color: #0B9E4C;
}
br {
	font-size: 1.5em;
	line-height: 100%;
}
.a1 {
	color: #DE2565;
}
.a2 {
	color: #DE2565;
}
.a3 {
	color: #00B453;
}
.a4 {
	color: #ffffff;
}
.a5 {
	color: #ffffff;
}

.s1 {
	color: #DE2565;
}
.s2 {
	color: #F17D52;
}
.s3 {
	color: #ffffff;
}
.s4 {
	color: #3066CE;
}
.s5 {
	color: #ffffff;
}

.b1 {
	color: #3066CE;
}
.b2 {
	color: #ffffff;
}
.b3 {
	color: #72ADF5;
}
.b4 {
	color: #ffffff;
}
.b5 {
	color: #DE2565;
}
.b6 {
	color: #3066CE;
}
.b7 {
	color: #ffffff;
}
.b8 {
	color: #72ADF5;
}
.b9 {
	color: #ffffff;
}

.c1 {
	color: #72ADF5;
}
.c2 {
	color: #ffffff;
}
.c3 {
	color: #72ADF5;
}
.c4 {
	color: #ffffff;
}
.c5 {
	color: #3066CE;
}
.c6 {
	color: #ffffff;
}

.d1 {
	color: #72ADF5;
}
.d2 {
	color: #ffffff;
}
.d3 {
	color: #72ADF5;
}
.d4 {
	color: #ffffff;
}
.d5 {
	color: #3066CE;
}
.d6 {
	color: #ffffff;
}

.e1 {
	color: #72ADF5;
}
.e2 {
	color: #ffffff;
}
.e3 {
	color: #72ADF5;
}
.e4 {
	color: #ffffff;
}
.e5 {
	color: #3066CE;
}
.e6 {
	color: #ffffff;
}

.f1 {
	color: #8FEB5E;
}
.f2 {
	color: #ffffff;
}

.g1 {
	color: #DE2565;
}
.g2 {
	color: #ffffff;
}
.g3 {
	color: #F7BD49;
}
.g4 {
	color: #ffffff;
}
.g5 {
	color: #72ADF5;
}
.g6 {
	color: #ffffff;
}
.g7 {
	color: #72ADF5;
}
.g8 {
	color: #ffffff;
}

.h1 {
	color: #ffffff;
}

.i1 {
	color:  #DE2565;
}
.i2 {
	color: #ffffff;
}
.i3 {
	color: #DE2565;
}
.i4 {
	color: #F7BD49;
}
.i5 {
	color: #ffffff;
}
.i6 {
	color: #72ADF5;
}
.i7 {
	color: #ffffff;
}
.i8 {
	color: #F7BD49;
}
.i9 {
	color: #ffffff;
}
.ia {
	color: #F7BD49;
}
.ib {
	color: #ffffff;
}
.ic {
	color: #72ADF5;
}
.id {
	color: #ffffff;
}
.ie {
	color: #F7BD49;
}
.if {
	color: #ffffff;
}

.j1 {
	color: #ffffff;
}

.k1 {
	color: #8FEB5E;
}
.k2 {
	color: #ffffff;
}
.k3 {
	color: #F7BD49;
}
.k4 {
	color: #ffffff;
}
.k5 {
	color: #72ADF5;
}
.k6 {
	color: #ffffff;
}

.l1 {
	color: #ffffff;
}

.w1 {
	color: #ffffff;
}
.m1 {
	color: #DE2565;
}
.m2 {
	color: #F17D52;
}
.m3 {
	color: #ffffff;
}
.m4
 {
	color: #ffffff;
}
.m5 {
	color: #3066CE;
}
.m6 {
	color: #ffffff;
}

.n1 {
	color: #3066CE;
}
.n2 {
	color: #ffffff;
}
.n3 {
	color: #DE2565;
}
.n4 {
	color: #ffffff;
}
.n5 {
	color: #DE2565;
}
.n6 {
	color: #ffffff;
}
.n7 {
	color: #F17D52;
}
.n8 {
	color: #ffffff;
}
.n9 {
	color: #8FEB5E;
}
.na {
	color: #ffffff;
}

.o1 {
	color: #DE2565;
}
.o2 {
	color: #ffffff;
}
.o3 {
	color: #3066CE;
}
.o4 {
	color: #ffffff;
}
.o5 {
	color: #8FEB5E;
}
.o6 {
	color: #ffffff;
}
.o7 {
	color: #DE2565;
}
.o8 {
	color: #ffffff;
}
.o9 {
	color: #DE2565;
}
.oc {
	color: #ffffff;
}
.od {
	color: #F17D52;
}
.oe {
	color: #ffffff;
}
.of {
	color: #F17D52;
}
.og {
	color: #ffffff;
}
.oh {
	color: #8FEB5E;
}
.oi {
	color: #ffffff;
}
.p1 {
	color: #ffffff;
}
.q1 {
	color: #F17D52;
}
.q2 {
	color: #ffffff;
}
.q3 {
	color: #8FEB5E;
}
.q4 {
	color: #ffffff;
}
.q5 {
	color: #3066CE;
}
.q6 {
	color: #ffffff;
}
.q7 {
	color: #F17D52;
}
.q8 {
	color: #ffffff;
}
.q9 {
	color: #8FEB5E;
}
.qa {
	color: #ffffff;
}
.qb {
	color: #3066CE;
}
.qc {
	color: #ffffff;
}
.qd {
	color: #ffffff;
}
.r1 {
	color: #F17D52;
}
.r2 {
	color: #ffffff;
}
.r3 {
	color: #8FEB5E;
}
.r4 {
	color: #ffffff;
}
.r5 {
	color: #3066CE;
}
.r6 {
	color: #ffffff;
}
.t1 {
	color: #F17D52;
}
.t2 {
	color: #ffffff;
}
.t3 {
	color: #8FEB5E;
}
.t4 {
	color: #ffffff;
}
.t5 {
	color: #3066CE;
}
.t6 {
	color: #ffffff;
}
.t7 {
	color: #F17D52;
}
.t8 {
	color: #ffffff;
}
.t9 {
	color: #8FEB5E;
}
.ta {
	color: #ffffff;
}
.tb {
	color: #3066CE;
}
.tc {
	color: #ffffff;
}
.td {
	color: #ffffff;
}
.u1 {
	color: #F17D52;
}
.u2 {
	color: #ffffff;
}
.u3 {
	color: #8FEB5E;
}
.u4 {
	color: #ffffff;
}
.u5 {
	color: #3066CE;
}
.u6 {
	color: #ffffff;
}
.v1 {
	color: #ffffff;
}
.ss4{
	color: #3066C3;
	font-size: 3vw;
}
.aa5 {
	color: #202020;
}
.anim1 {
	color: #3066C3;
	font-size: 1vw;
}
.anim2{
	color: #3066C3;
	font-size: 1vw;
}
.anim3{
	color: #3066C3;
	font-size: 1vw;
}


span {
	color: #3066C3;
	font-family: "Courier New", Courier, monospace;
	font-size: 2vw ;
	line-height: 1vw;
	font-weight: bold;
	padding: 0% 0% 0% 0%;
}
.num {
	color: #505F5E;
	font-weight: normal;
}

.animation {
	height: 100vh;
	position: relative;
}
.site-intro {
    height: 100vh;
    background-color: #202020;
    position: relative;
    font-size: 1vw;
    line-height: 1.8vw;
    font-family: "Courier New", Courier, monospace;
    white-space: nowrap;
}
.intro-numbers {
position: relative;
	display: inline-block;
	padding-top: 2vmin;
	padding-bottom: 20vmin;
	padding-left: 10vmin;
	white-space: nowrap;
}
.intro-div {
position: relative;
	display: inline-block;
	padding-top: 2vmin;
	padding-right: 10vmin;
	padding-bottom: 20vmin;
	padding-left: 10vmin;
	white-space: nowrap;
}
.site-final {
    position: absolute;
    height: 100vh;
    background-color: #202020;
    font-size: 1vw;
    line-height: 1.8vw;
    font-family: "Courier New", Courier, monospace;
    white-space: nowrap;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
}
.intro-final {
    position: relative;
    display: inline-block;
    padding-top: 15vmin;
    padding-right: 10vmin;
    padding-bottom: 20vmin;
    padding-left: 10vmin;
    white-space: nowrap;
    height: 100vh;
}
.scrollRow {
	width: 100vw;
	position: absolute;
	bottom: 0rem;
	text-align:center;
	-moz-animation:bounce 1s infinite;
	-webkit-animation:bounce 1s infinite;
	animation:bounce 1s infinite;
	display: none;
	}
.scrollPrompt{
	max-height:8%;
	max-width:8%;
	cursor: pointer;
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
	color: #ffffff;
}
.site-aboutMe {
    width: 100%;
    height: auto;
    min-height: 700px;
    background-color: #202020;
    position: relative;
}
.meBlock {
    padding-top: 3vmin;
    padding-left: 10vmin;
    padding-right: 10vmin;
}
.meHeader {
    font-size: 3rem;
    color: #ffffff;
}
.meDescription {
    font-size: 1.5rem;
    color: #ffffff;
}
.headShot {
    width: 15%;
}
.aboutText {
    font-size: 1.25rem;
    color: #ffffff;
}
.site-skills {
    width: 100%;
    height: auto;
    min-height: 700px;
    background-color: #ffffff;
    position: relative;
}
.skillsHeader {
	padding-top: 3vmin;
	padding-left: 10vmin;
	padding-right: 10vmin;
	
}
.skillsHead {
	font-size: 3rem;
	color: #3066C3;
	
}
.skillsTitle {
	font-size: 2.5rem;
	color: #3066C3;
	
}
.skillsFill {
	font-size: 2rem;
	color: #3066C3;
}
.skillsRow {
}
.skill-logo-img {
	height: 150px;
}
.resumeLink {
    position: relative;
    background: #3066C3;
    height: 100px;
}
.skillResume {
    margin: 50px;
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    vertical-align: middle;
}
.site-experience {
	background-color: #202020;
	position: relative;
}
.Experience1 {
    bottom: 100px;
    text-align:left;
    position: relative;
    width: 80vw;
}
.Bullet {
    margin: 0;
    font-size: 1.5vw;
    color: #ffffff;
    font-weight: bold;
}
.ExpLogo {
    text-align:center;
    padding: 1vw;
    width: 24vw;
}
.ExpLogo2 {
    text-align:center;
    padding-top: 10vw;
	padding-bottom: 1vw;
    width: 15vw;
}
.site-projects {
	background-color: #ffffff;
	position: relative;
}
.projectDiv {
background-color: #202020;
	height: 85vh;
	width: 85vw;
}
.site-about {
	height:10vh;
	width:95vw;
}
@-moz-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
 }
 @-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
  
 }
 @keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
  }
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}